
.wrapper{
    border: 2px solid black;
    width: 40%;
}

.parent{
    border-top: 2px solid black;
    margin: 0px 0px;
}
.container{
    display: flex;
    margin: 10px 10px 30PX 10px;
    justify-content: space-between;
}
.blueviolet{
    margin: 10px 10px;
    height: 60px;
    border: 2px solid black;
    background-color: rgb(117, 84, 148);
}
.pink{
    border: 2px solid black;
    background-color: rgb(221, 120, 137);
    height: 300px;
    width: 160px;
}
.green{
    border: 2px solid black;
    background-color: rgb(139, 185, 139);
    width: 160px;
}
.yellow{
    border: 2px solid black;
    width: 160px;
    background-color: rgb(231, 118, 13);
}